@inject HttpClient Http

<button @onclick="@Load">Load Data</button><br />
<button @onclick="@Clear">Clear Data</button><br />

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else if (WeatherForecasts != null && WeatherForecasts.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in WeatherForecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

}

@functions {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public IEnumerable<WeatherForecast> WeatherForecasts { get; set; }
    [Parameter] public Action Load { get; set; }
    [Parameter] public Action Clear { get; set; }
}