@page "/counter"
@inherits RealmComponent<AppState>

<h1>Counter</h1>

<p>Current count: @State.Count</p>

Change By: <input type="text" name="IncementAmoung" bind="@Delta" /><br />

<button class="btn btn-primary" onclick="@IncrementCount">Increment</button><br />
<button class="btn btn-primary" onclick="@DecrementCount">Decrement</button><br />
<button class="btn btn-primary" onclick="@AsyncIncrement">Async Increment</button><br />

@if (State.Loading)
{
    <div>Loading...</div>
}

@functions {
    int currentCount = 0;

    [Parameter]
    private int Delta { get; set; } = 1;

    void IncrementCount()
    {
        Dispatch(new IncrementByValue(Delta));
    }

    void DecrementCount()
    {
        Dispatch(new DecrementByValue(Delta));
    }

    void AsyncIncrement()
    {
        Dispatch(new AsyncIncrementAction(Store, Delta));
    }

    public override void Dispose()
    {
        base.Dispose();
        Dispatch(new ResetCount());
    }
}
