@page "/counter"
@inherits RealmComponent<AppState>

<h1>Counter</h1>

@if (State.Loading)
{
    <div><em>Loading...</em></div>
}
else
{
    <p>
        Current count from central store: @Store.GetState().Count
    </p>
    <p>
        Current count from local state: @State.Count
    </p>

    <p>
        Set Count to: <input type="text" bind="@State.Count" />
    </p>

    <p>
        Change By: <input type="text" name="IncementAmount" bind="@Delta" />
    </p>


    <button class="btn btn-primary" onclick="@IncrementCount">Increment</button>
    <button class="btn btn-primary" onclick="@DecrementCount">Decrement</button>
    <button class="btn btn-primary" onclick="@AsyncIncrement">Async Increment</button>
    <button class="btn btn-primary" onclick="@Reset">Reset</button>
    <button class="btn btn-primary" onclick="@SetCount">Set Count</button>

}



@functions {
    [Parameter]
    private int Delta { get; set; } = 1;

    void IncrementCount()
    {
        Dispatch(new Actions.Counter.IncrementByValue(Delta));
    }

    void DecrementCount()
    {
        Dispatch(new Actions.Counter.DecrementByValue(Delta));
    }

    void AsyncIncrement()
    {
        Dispatch(new Operations.Counter.IncrementByValue(Store, Delta));
    }

    void SetCount()
    {
        Dispatch(new Actions.Counter.Set(State.Count));
    }

    void Change()
    {
        Console.WriteLine("CHANGE");
    }

    void Invalid()
    {
        Console.WriteLine("INVALID");
    }

    void Reset()
    {
        Dispatch(new Actions.Counter.Reset());
    }

    public override void Dispose()
    {
        base.Dispose();
        Dispatch(new Actions.Counter.Dispose());
    }
}
